#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=python ./kEeprom.py
Name=Rice Test
Icon=./kEeprom/ui/sop8.png
